<form  [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
  <h4>Details</h4>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput formControlName="phone">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option *ngFor="let genderOption of genderOptions" [value]="genderOption.value">
        {{genderOption.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div formGroupName="address">
    <h4>Address</h4>
    <mat-form-field  appearance="fill">
          <mat-label>Street</mat-label>
          <input matInput formControlName="street">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
  </div>

  <button mat-button (submit)="onFormSubmit" >Submit</button>
</form>

